.DS_Store
Pods
RickAndMorty.xcworkspace/xcuserdata/vezeeta.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
*.xcuserstate
RickAndMorty.xcworkspace
RickAndMorty.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
RickAndMorty.xcodeproj/project.xcworkspace/contents.xcworkspacedata
RickAndMorty.xcodeproj/xcuserdata
RickAndMorty.xcodeproj/project.pbxproj
